openapi: 3.0.3
info:
  title: Spiral - Socially Responsible - v1
  description: |-
    _Spiral mission statement here_
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.0-SNAPSHOT
externalDocs:
  description: Spiral online developer docs
  url: http://swagger.io
servers:
  - url: https://sdk-api-stage1.spiral.us/v1
    description: Staging Server (uses test data)
  - url: https://sdk-api-qa.spiral.us/v1
    description: QA Staging Environment (uses test data)
security:
  - ClientID: []
tags:
  - name: transactionProcessor
    description: Process transaction synchronous in real time and async offline for Social Responsibility Impact.
    externalDocs:
      description: Find out more
      url: http://spiral.us
  - name: socialResponsibility
    description: Obtain a customer's Social Responsibility Impact
    externalDocs:
      description: Find out more
      url: http://spiral.us
  - name: giving
    description: Allow customers to make donations to charities of their choice
    externalDocs:
      description: Find out more
      url: http://spiral.us
  - name: management
    description: Self-service portal for Spiral clients
    externalDocs:
      description: Find out more
      url: http://spiral.us
  - name: cms
    description: Allow client apps to defined their own API responses
    externalDocs:
      description: Find out more
      url: http://spiral.us
  - name: audit
    description: Access to audit reports
    externalDocs:
      description: Find out more
      url: http://spiral.us
  - name: cst
    description: (INTERNAL) Spiral Customer Support Tool
    externalDocs:
      description: Find out more
      url: http://spiral.us
paths:
  /cms/card/type/{type}:
    get:
      tags:
        - cms
      summary: Load a specific UI card template by predefined type
      description: Load a specific UI card template by predefined type defined via GenericCardType.
      operationId: getTypedGenericCard
      parameters:
        - name: X-SPIRAL-SDK-VERSION
          in: header
          description: Unique version of the SDK that makes the call (ie. ios-1.2.3 or web-1.2.3)
          schema:
            type: string
        - name: X-SPIRAL-CUSTOMER-ID
          in: header
          description: Unique end user bank customer ID.
          schema:
            type: string
        - name: X-SPIRAL-REQUEST-ID
          in: header
          description: Unique request ID used for troubleshooting.
          schema:
            type: string
        - name: type
          in: path
          required: true
          description: Unique type for the UI card.
          schema:
            $ref: '#/components/schemas/GenericCardType'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericCardResponse'
        '400':
          description: Invalid Request
        '405':
          description: Validation Exception
  /cms/card/generic/{type}:
    get:
      tags:
        - cms
      summary: Load a specific UI card template
      description: Load a specific UI card template
      operationId: getGenericCard
      parameters:
        - name: X-SPIRAL-SDK-VERSION
          in: header
          description: Unique version of the SDK that makes the call (ie. ios-1.2.3 or web-1.2.3)
          schema:
            type: string
        - name: X-SPIRAL-CUSTOMER-ID
          in: header
          description: Unique end user bank customer ID.
          schema:
            type: string
        - name: X-SPIRAL-REQUEST-ID
          in: header
          description: Unique request ID used for troubleshooting.
          schema:
            type: string
        - name: type
          in: path
          required: true
          description: Unique type for the UI card.
          schema:
            type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericCardResponse'
        '400':
          description: Invalid Request
        '405':
          description: Validation Exception
  /social/instant/impact:
    get:
      tags:
        - socialResponsibility
      summary: Load a customer's Social Impact
      description: Load total customer's Social Responsibility Impact
      operationId: getSocialResponsibilityImpactSummary
      parameters:
        - name: X-SPIRAL-CUSTOMER-ID
          in: header
          description: Unique end user bank customer ID.
          schema:
            type: string
        - name: X-SPIRAL-REQUEST-ID
          in: header
          description: Unique request ID used for troubleshooting.
          schema:
            type: string
        - name: period
          in: query
          description: The period of transactions to include in the search. Defaults to ALL-TIME.
          schema:
            $ref: '#/components/schemas/SummaryTimePeriod'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialResponsibilityInstantImpactSummaryResponse'
        '400':
          description: Invalid Request
        '405':
          description: Validation Exception
  /social/instant/impact/{transactionId}:
    get:
      tags:
        - socialResponsibility
      summary: Load a customer's Social Impact details for a single transaction
      description: Load that customer's Social Responsibility Impact details for a single transaction
      operationId: getInstantImpactByTransactionId
      parameters:
        - name: X-SPIRAL-CUSTOMER-ID
          in: header
          description: Unique end user bank customer ID.
          schema:
            type: string
        - name: X-SPIRAL-REQUEST-ID
          in: header
          description: Unique request ID used for troubleshooting.
          schema:
            type: string
        - name: transactionId
          in: path
          description: Permanent, unique transaction id to retrieve the Social Responsibility Impact details for. Must survive changes to pending status or amount.
          required: true
          schema:
            type: string
            description: Permanent, unique transaction identifier. Must survive changes to pending status or amount.
            example: 'TRX12345'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialResponsibilityTransactionInstantImpactResponse'
        '400':
          description: Invalid Request
        '404':
          description: External Transaction by ID not found
        '405':
          description: Validation Exception
  /social/instant/impact/transaction:
    get:
      tags:
        - socialResponsibility
      summary: Load a customer's detailed Social Impact transactions list based on provided filters
      description: Load a customer's detailed Social Impact transactions list based on provided filters
      operationId: getInstantImpactTransactions
      parameters:
        - name: X-SPIRAL-CUSTOMER-ID
          in: header
          description: Unique end user bank customer ID.
          schema:
            type: string
        - name: X-SPIRAL-REQUEST-ID
          in: header
          description: Unique request ID used for troubleshooting.
          schema:
            type: string
        - name: search
          in: query
          description: Search query; filters transaction descriptions in a case-insensitive way.
          schema:
            type: string
        - name: rewardUnit
          in: query
          description: A list of reward units to include in the search. Defaults to all units if not provided.
          schema:
            type: array
            items:
              type: string
        - name: period
          in: query
          description: The period of transactions to include in the search. Defaults to ALL-TIME.
          schema:
            $ref: '#/components/schemas/SummaryTimePeriod'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialResponsibilityTransactionListResponse'
        '400':
          description: Invalid Request
        '405':
          description: Validation Exception
  /social/instant/impact/client/transaction:
    get:
      tags:
        - socialResponsibility
      summary: Load a client-level detailed Social Impact transactions list based on provided filters
      description: Load a client-level detailed Social Impact transactions list based on provided filters
      operationId: getClientInstantImpactTransactions
      parameters:
        - name: X-SPIRAL-CUSTOMER-ID
          in: header
          description: Unique end user bank customer ID.
          schema:
            type: string
        - name: X-SPIRAL-REQUEST-ID
          in: header
          description: Unique request ID used for troubleshooting.
          schema:
            type: string
        - name: search
          in: query
          description: Search query; filters transaction descriptions in a case-insensitive way.
          schema:
            type: string
        - name: rewardUnit
          in: query
          description: A list of reward units to include in the search. Defaults to all units if not provided.
          schema:
            type: array
            items:
              type: string
        - name: from
          in: query
          description: The search start timestamp.
          schema:
            type: number
        - name: to
          in: query
          description: The search end timestamp.
          schema:
            type: number
        - name: pageSize
          in: query
          description: The size of the page to return. Defaults to 50 if not provided.
          schema:
            type: number
        - name: pageNum
          in: query
          description: The 0-indexed concurrent number of the page to return. Defaults to 0 if not provided.
          schema:
            type: number
        - name: sort
          in: query
          description: Fields to sort by. Supports all fields returned in the response with an optional '.ASC'/'.DESC' direction marker.
          schema:
            type: string
          example: donationAmount.ASC
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialResponsibilityTransactionListResponse'
        '400':
          description: Invalid Request
        '405':
          description: Validation Exception
  /management/settings/customer/instant/impact:
    get:
      tags:
        - management
      summary: Retrieves customer settings
      description: Retrieves customer customer limit selections
      operationId: getCustomerSettings
      parameters:
        - name: X-SPIRAL-CUSTOMER-ID
          in: header
          description: Unique end user bank customer ID.
          schema:
            type: string
        - name: X-SPIRAL-REQUEST-ID
          in: header
          description: Unique request ID used for troubleshooting.
          schema:
            type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerSettings"
        '400':
          description: Invalid Request
        '405':
          description: Validation Exception
    put:
      tags:
        - management
      summary: Updates customer settings
      description: Updated customer limit selections
      operationId: setCustomerSettings
      parameters:
        - name: X-SPIRAL-CUSTOMER-ID
          in: header
          description: Unique end user bank customer ID.
          schema:
            type: string
        - name: X-SPIRAL-REQUEST-ID
          in: header
          description: Unique request ID used for troubleshooting.
          schema:
            type: string
      requestBody:
        description: Update client settings request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerSettings"
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Invalid Request
        '405':
          description: Validation Exception
components:
  schemas:
    SocialResponsibilityInstantImpactSummaryResponse:
      type: object
      description: Single customer's Instant Impact report
      required:
        - instantImpact
      properties:
        instantImpact:
          type: array
          items:
            $ref: '#/components/schemas/TransactionInstantImpactSummary'
    GenericCardResponse:
      type: object
      description: Generic card response
      required:
        - card
      properties:
        card:
          type: object
          description: Generic card JSON
    CustomerLimits:
      type: object
      properties:
        percentageUpperLimit:
          type: integer
        totalMonthlyCap:
          type: integer
        onTransactionsOver:
          type: integer
        onTransactionsUnder:
          type: integer
    CustomerInstantImpactLimitSelections:
      type: string
      description: Available selections for the customer instant impact limit
      enum:
        - daily
        - weekly
        - monthly
    CustomerSettings:
      type: object
      required:
        - roundUp
      properties:
        userSponsoredEverOptedIn:
          description: True if the customer has ever opted in to round up in the user-sponsored flow.
          type: boolean
        rewardType:
          type: string
          example: 'UserSponsored'
          enum:
            - UserSponsored
            - BankSponsored
        consented:
          type: boolean
        optedIn:
          type: boolean
        roundUp:
          $ref: "#/components/schemas/RoundUpSelections"
        limitSelection:
          $ref: "#/components/schemas/CustomerInstantImpactLimitSelections"
        limitValue:
          type: number
    RewardSettings:
      type: object
      description: Reward settings that can have a certain type. Selected type is the prefix of the required property to set
      required:
        - type
      properties:
        type:
          type: string
          example: 'UserSponsored'
          enum:
            - UserSponsored
            - BankSponsored
        userSponsoredRewardType:
          type: string
          description: Reward type in use per transaction
          enum:
            - roundUp
        userSponsoredValue:
          $ref: '#/components/schemas/RoundUpSelections'
        userSponsoredRewardLimits:
          $ref: '#/components/schemas/RewardLimits'
        bankSponsoredRewardType:
          type: string
          description: Reward type in use per transaction
          enum:
            - units
            - money
        value:
          type: number
          description: Accepted value depending on the rewardType either a number of unit or dollar amount up to two decimal places
    RewardLimits:
      type: object
      properties:
        perTransaction:
          type: number
        perMonth:
          type: number
        perYear:
          type: number
    RoundUpSelections:
      type: string
      description: Available selections for the user sponsored reward type
      enum:
        - dollar
        - five_dollars
        - ten_dollars
    User:
      type: object
      required:
        - email
        - firstName
        - lastName
      properties:
        id:
          type: string
          format: guid
          example: 'usr12345'
        email:
          type: string
          format: email
          description: Also the login ID for the Self Service console
          example: 'john@email.com'
        firstName:
          type: string
          example: 'John'
        lastName:
          type: string
          example: 'James'
        password:
          type: string
          example: '12345'
        phone:
          type: string
          example: '12345'
        userStatus:
          type: integer
          description: User Status
          format: int32
          example: 1
    InstantImpact:
      type: object
      description: A single socially responsible Instant Impact from performing a financial transaction.
      required:
        - category
        - impact
      properties:
        category:
          $ref: '#/components/schemas/InstantImpactCategory'
        impact:
          type: integer
          description: Point value for associated Instant Impact Category.
          example: 15
        amountDonated:
          type: number
          description: Dollar value for associated Instant Impact Category.
          example: 35.68
        transaction:
          $ref: '#/components/schemas/DepositoryOrCreditTransaction'
    SocialResponsibilityTransactionInstantImpactResponse:
      type: object
      description: A single socially responsible Instant Impact from performing a financial transaction.
      required:
        - categoryId
        - categoryName
        - impact
      properties:
        categoryId:
          type: string
          format: guid
          example: 'CAT12345'
        customerId:
          type: string
          format: guid
          example: 'CUST12345'
        categoryName:
          type: string
          description: Name of the charity category.
          example: 'Gas, Transportation'
        rewardUnit:
          $ref: '#/components/schemas/CharityRewardUnit'
        impact:
          type: number
          description: Point value for associated Instant Impact Category.
          example: 1.0
        donatedAmount:
          type: number
          description: Dollar value for associated Instant Impact Category.
          example: 0.15
        transactionId:
          type: string
          description: Permanent, unique transaction identifier. Must survive changes to pending status or amount.
          example: 'TRX12345'
        transactionTimestamp:
          type: number
          description: Transaction Unix timestamp
          example: 1669647037
        transactionTitle:
          type: string
          description: The cleand up transaction title.
          example: "O'Reilly auto parts purchase"
        transactionType:
          type: string
          description: "The type or source of the transaction"
          example: "Credit card"
        statementDescription:
          type: string
          description: Detailed transaction description, like it would appear in your statement.
          example: "OREILLY AUTO 00023838 AUSTIN TX Date 06/01/18 2 7663590439 1 5533 Card 6357"
        transactionAmount:
          type: number
          description: Transaction amount with two decimal places.
          example: -23.41
        transactionAccountId:
          type: string
          description: Transaction account identifier.
          example: 'ACC12345'
    TransactionInstantImpactSummary:
      type: object
      properties:
        categoryId:
          type: string
          format: guid
          example: 'CAT12345'
        categoryName:
          type: string
          description: Name of the charity category.
          example: 'Gas, Transportation'
        rewardUnitName:
          type: string
          description: Reward Unit key
          example: "TREE"
        totalImpact:
          type: number
          description: Aggregated point value for associated Instant Impact Category.
          example: 274
        totalDonatedAmount:
          type: number
          description: Aggregated dollar value for associated Instant Impact Category.
          example: 283.73
    CharityRewardUnit:
      type: object
      required:
        - id
        - charityId
        - internalCostInCents
        - unit
      properties:
        id:
          type: string
          description: Unique Charity Reward Unit ID
          format: guid
          example: "REWARD12345"
        charityId:
          type: string
          description: Charity ID this reward unit is assigned to
          format: guid
          example: "CHAR1234"
        charityName:
          type: string
          description: Name of the charity (used in reply of enriched transactions).
          example: 'Garden of Eden'
        internalCostInCents:
          type: integer
          description: Internal cost per one unit in cents
          example: 10
        unit:
          type: string
          description: Reward Unit key
          example: TREE
    GenericCardType:
      type: string
      description: Unique type for the UI card.
      enum:
        - SR_SUMMARY
        - HOW_IT_WORKS
        - USER_SPONSORED_OPT_IN
    SocialResponsibilityTransactionListResponse:
      type: object
      required:
        - transactions
        - totalTransactions
        - totalAmount
        - pageTransactions
        - pageAmount
      properties:
        totalTransactions:
          type: number
          description: The count of all transactions across all pages.
          example: 241
        pageTransactions:
          type: number
          description: The count of all transactions on this page.
          example: 50
        totalAmount:
          type: number
          description: The total summed amount of all transactions across all pages.
          example: 2431.49
        pageAmount:
          type: number
          description: The summed amount of all transactions on this page.
          example: 411.98
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/SocialResponsibilityTransactionInstantImpactResponse'
    SummaryTimePeriod:
      type: string
      description: "Possible periods to choose from for Instant Impact reports"
      enum:
        - ALL_TIME
        - LAST_MONTH
    DepositoryOrCreditTransaction:
      type: object
      description: Describes a transaction against a debit or credit card account.
      required:
        - transactionId
        - transactedAt
        - amount
        - merchantCategoryCode
        - type
        - method
      properties:
        transactionId:
          type: string
          description: Permanent, unique transaction identifier. Must survive changes to pending status or amount.
          format: guid
          example: 'TRX12345'
        customerId:
          type: string
          description: Unique customer ID
          format: guid
          example: 'CUST12345'
        accountId:
          type: string
          description: References to the account that this transaction is posting against.
          format: guid
          example: 'ACC12345'
        description:
          type: string
          description: Description of the transaction.
        name:
          type: string
          description: Addenda or distinguishing information for the transaction.
        category:
          type: array
          items:
            type: string
          description: Hierarchical categorization, use multi-valued array to indicate hierarchy.
        tags:
          type: array
          items:
            type: string
          description: Flat categorization. For hashtags omit leading #.
        endingBalance:
          type: integer
          format: number
          description: Fixed-point decimal number, carried up to two decimal places.
        transactedAt:
          type: string
          format: date-time
          description: The date/time when the transaction was authorized, in the time zone local to the transaction or to the customer.
        settledAt:
          type: string
          format: date-time
          description: The date/time when the transaction settled, in the time zone local to the customer. Must be null if the transaction is pending.
        merchantCategoryCode:
          type: string
          description: Reference to the identity of the merchant related to this transaction.
          example: '1520'
        geolocation:
          $ref: '#/components/schemas/GeoLocation'
        currency:
          type: string
          description: The ISO 4217 currency in which this transaction is denominated. One of either the currency or non_iso_currency fields is required.
          example: 'USD'
        nonIsoCurrency:
          type: string
          description: If the transaction is denominated in a non-ISO currency, provide the currency's symbol.
        type:
          $ref: '#/components/schemas/DepositoryOrCreditTransactionType'
        method:
          $ref: '#/components/schemas/DepositoryOrCreditTransactionMethod'
        pending:
          type: boolean
          description: Indicates that this transaction has not posted.
        amount:
          type: number
          description: Fixed-point decimal number, carried up to two decimal places.
          example: 12.78
        feeAmount:
          type: number
          description: Fixed-point decimal number, carried up to two decimal places.
          example: 1.32
        transferAccountId:
          type: string
          description: If this transaction is an internal transfer type, references the accountId associated with this transaction.
        rewardAmount:
          type: number
          description: Fixed-point decimal number, carried up to two decimal places.
          example: 0.22
        rewardRate:
          type: number
          description: Fixed-point representation of a normalized rate, carried up to four decimal places.
        rewardCurrency:
          type: string
          description: ISO 4217 currency code.
          example: 'USD'
        rewardNonIsoCurrency:
          type: string
          description: If the reward contribution is denominated in a non-ISO currency, provide the currency's symbol.
          example: 'USD'
    DepositoryOrCreditTransactionMethod:
      type: string
      description: Classification of DepositoryOrCredit by purpose as an enum.
      enum:
        - card present
        - card not present
        - check
        - eft
    DepositoryOrCreditTransactionType:
      type: string
      description: Classification of DepositoryOrCredit by purpose as an enum.
      enum:
        - transfer
        - cash
        - fee
        - purchase
        - interest
        - deposit
    GeoLocation:
      type: object
      description: Geographic location.
      properties:
        coordinates:
          $ref: '#/components/schemas/GeoCoordinates'
        city:
          type: string
          description: City name.
          example: 'New York'
        region:
          type: string
          description: ISO 3166-2 sub-national region identifier.
          example: 'US'
        country:
          type: string
          description: ISO 3166-1 two-character country identifier.
          example: 'US'
    GeoCoordinates:
      type: object
      description: Geographic coordinates in EPSG:4326 WGS84 (lat/long)
      properties:
        lat:
          type: number
          description: Latitude coordinate.
          example: 40.7128
        lon:
          type: number
          description: Longitude coordinate.
          example: 74.0060
    InstantImpactCategory:
      type: object
      description: Instant Impact Category
      required:
        - name
      properties:
        id:
          type: string
          description: Unique ID of the charity category.
          format: guid
          example: "CAT12345"
        name:
          type: string
          description: Name of the charity category.
          example: 'Trees'
        defaultCharityId:
          type: string
          description: Id of the default charity for this category. Charity can be found under charities field.
          format: guid
          example: "CAT12345"
        charities:
          type: array
          items:
            $ref: '#/components/schemas/Charity'
    Charity:
      type: object
      required:
        - ein
        - name
      properties:
        id:
          type: string
          format: guid
          example: 'CH12345'
        ein:
          type: string
          description: Charity unique Employer Identification Number (EIN)
          example: '84-2975413'
        name:
          type: string
          description: Charity name
          example: 'Hub of Love Corporation'
        description:
          type: string
          description: Charity description or mission
        images:
          type: array
          items:
            $ref: '#/components/schemas/CharityImage'
        rewardUnits:
          type: array
          items:
            $ref: '#/components/schemas/CharityRewardUnit'
    CharityImage:
      type: object
      required:
        - url
        - type
      properties:
        id:
          type: string
          description: Unique internal ID
        url:
          type: string
          description: URL within Cloudinary
        type:
          type: string
          description: Enum value
  # https://spec.openapis.org/oas/latest.html#security-scheme-object
  securitySchemes:
    # TODO: Not a real security scheme, here as a way to provide X-SPIRAL-CLIENT-ID for the time being
    ClientID:
      type: apiKey
      name: X-SPIRAL-CLIENT-ID
      in: header
      description: Unique Spiral issued Client ID required for most requests (except when creating a new client).
